extend components/templates.pug
block contenido
    main
        section.miniHeroCover
            .miniHeroCover__imagen
                img(src="../assets/images/palabro.jpg", alt="Imagen con bloques de letras de fondo y lsobre ellos unos bloques que forman la palabra Palabro")
            .miniHeroCover__contenido
                h2 PalaBro
        section.moduloProject
            .moduloProject__description
                p Este proyecto es un pequeño juego online que forma parte de un reto en el cual debiamos hacer una serie de proyectos en Javascript.
                p Es bastante básico, simplemente se ha emulado el típico juego de wordle, tienen varios bug aún que tengo que corregir, pero funciona bien actualmente, también quiero añadirle algunos features mas.
                p En próximas actualizaciones implementare un menú inicial en el cual se podrá elegir el modo de juego o dificultad adulto o para niños, en el el modo niños les dará a elegir la familia de palabras que desea que salga, así no será tan difícil y pueden aprender a escribir esas palabras, un poco a modo pedagógico para enseñarles.
                p Te invito o animo a probar y jugar unas partidas y te distraigas unos minutos.
            .moduloProject__file
                h3 Ficha técnica
                p Versión: 1.0.0
                p Estado: Pendiente de actualización
                p Tecnologías:
                    ul
                        li HTML5
                        li CSS
                        li Javascript
                p Licencia: MIT
                p Repositorio: </br>
                    a(href="https://github.com/Jgalvan7/palaBro.git") Repositorio Guthub
        section.moduloPalabro#palabro
            .moduloPalabro__imagen#cargarJuego
                img(src="../assets/images/palabro.jpg", alt="Portada del juego PalaBro")
                button#loadScreen
                    img(src="../assets/images/boton__play.png", alt="Botón para jugar")
    script(src="../js/index.js")