extend components/templates.pug
block contenido
    main
        section(class="containerTitle" id="containerTitle")
        section(class="moduloGame" id="game")
    script(Content-Type="text/javascript" src="../js/wordle.js")